line-length = 100
exclude = [".venv", "venv", "build", "dist"]

[lint]
select = [
    "E",
    "F",
    "I",
    "W",
    "B",
    "A",
    "C4",
    "SIM",
    "RUF",
] # E, F, I, W, B, A, C4, SIM, RUF
ignore = ["E501"] # Line too long (handled by formatter)

[lint.isort]
known-first-party = ["python_fastapi_starter"]

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
